.git/*
.github/*
.idea/*
.terraform/*
logs/*
target/*
.bsp/*

*.tf
*.tfvars
*.md

.bandit
codecov.yml
local_setup.yml
state.json

api/target/*
client/target/*
content/target/*
domain/target/*
dto/target/*
jobs/target/*