name: API PR Review

on: [pull_request]

jobs:
  build:
    name: Build API
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    
    - uses: brpaz/hadolint-action@v1.3.1
      name: Lint base image
      with:
        dockerfile: Dockerfile_base
    
    - uses: brpaz/hadolint-action@v1.3.1
      name: Lint builder image
      with:
        dockerfile: Dockerfile_builder
    
    - uses: brpaz/hadolint-action@v1.3.1
      name: Lint production image
      with:
        dockerfile: Dockerfile
    
    - name: Login to Docker Hub
      uses: docker/login-action@v1.8.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - uses: dorny/paths-filter@v2.8.0
      name: Check if dependencies have changed
      id: changed_dependencies
      with:
        filters: |
          dependencies:
            - 'project/Dependencies.scala'

    # Remember not to push
    - name: Build dependencies image
      if: steps.changed_dependencies.outputs.dependencies == 'true'
      run: docker build . -f Dockerfile_builder -t lkjaero/foreign-language-reader-api:builder

    - name: Build container
      run: docker build . -t api

    - name: Enforce security rules
      uses: anchore/scan-action@2.0.3
      id: scan
      with:
        image: "api:latest"
        acs-report-enable: true

    - name: Upload scan report
      if: ${{ always() }}
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}