name: Scala code test

on:
  pull_request:
    paths:
      - "*.scala"
      - "**/*.scala"
      - "*.sbt"
      - "**/*.sbt"
      - "*.conf"
      - "**/*.conf"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2.3.4
      with:
        fetch-depth: '2'

    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15.0.1

    - name: Load SBT cache
      uses: coursier/cache-action@v6

    - name: Compile
      run: sbt compile

    - name: Run tests
      run: sbt coverage test

    - name: Enforce coverage
      run: sbt coverageReport

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        flags: unittest